6/
7/Common/
7/SECSH/
7/Xshell/ColorScheme Files/
7/Xshell/CustomKeyMap.ckm
7/Xshell/HighlightSet Files/
7/Xshell/Scripts/
7/Xshell/Sessions/
7/Xshell/Xshell.ini
7/Xshell/alias.ini
7/Xshell/applog/
7/Xshell/buttonlist.ini
8/Common/
8/SECSH/
8/Xftp/
8/Xshell/ColorScheme Files/
8/Xshell/CustomKeyMap.ckm
8/Xshell/HighlightSet Files/
8/Xshell/Icons/
8/Xshell/Scripts/
8/Xshell/Sessions/
8/Xshell/Xshell.ini
8/Xshell/alias.ini
8/Xshell/applog/
8/Xshell/buttonlist.ini